@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* font-family: 'Nanum Gothic', sans-serif; */
/* font-family: 'Nanum Myeongjo', serif; */
body{
    font-family: 'Nanum Gothic', sans-serif !important;
}
.about-section{
    display: flex;
    width: 100%;
    height: 100vh;
}
.about-img{
    width: 40%;
    height: 100vh;
    background: url(../images/about-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.about-article{
    width: 60%;
    height: 100vh;
    background: #fff4e5;
    letter-spacing: 1px;
}

.about-img-article{
    position: absolute;
    top: 0;
    left: 90%;
    transform: translate(-100%, 0);
    width: 50%;
}

.about-img-article>p:first-child{
    font-size: 22px;
    color: rgba(23, 23, 23);
    padding: 5% 0 0 0;
    font-weight: 400;
}
.about-img-article>p:nth-child(2){
    line-height: 55px;
    font-size: 40px;
    padding: 32% 0;
}
.about-img-article>p:nth-child(3){
    font-size: 40px;
    line-height: 55px;
}
.about-img-article>p:last-child{
    font-size: 18px;
    color: rgba(30, 30, 30);
    line-height: 150%;
    font-weight: 400;
    padding-top: 5%;
}

.about-article-box{
    width: 100%;
    height: 100vh;
    position: relative;
}
.career{
    width:70%;
    /* position: absolute;
    top: 2%;
    left: 5%; */
    padding-top: 2%;
    padding-left: 5%;
}
.career-title{
    font-size: 40px;
    padding-bottom: 3%;
}
.career-article{
    padding-left: 3%;
    line-height: 150%;
    color: rgb(23, 23, 23);
    font-size: 21px;
}
.skills{
    width: 70%;
    /* position: absolute;
    top: 34%;
    left: 5%; */
    padding-left: 5%;
    padding-top: 5%;
}
.skills-title{
    font-size: 40px;
    padding-bottom: 3%;
}
.career-article-line{
    display: flex;
}
.career-article-line>p:first-child{
    width: 104px;
    text-align: right;
}
.career-article-line>p:last-child{
    padding-left: 8%;
    font-size: 18px;
    line-height: 30.7px;
}
.skill-bottom{
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
}
.skill-bottom>ul{
    width: 30%;
}
.skill-bottom>ul>li:first-child{
    padding-bottom: 10%;
}
.skill-bottom li{
    font-size: 21px;
    color: rgb(23, 23, 23);
    line-height: 150%;
}

@media(max-width:950px){
    .about-section{
        flex-direction: column;
        height: auto;
    }
    
    .about-img{
        width: 100%;
    }
    .about-article{
        width: 100%;
        height: 100%;
    }
    .about-img-article{
        left: 40%;
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-img-article>p:last-child{
        color: #fff;
    }
    .about-article-box ,.about-article{
        height: auto;
        padding-bottom: 20px;
    }
    .about-img-article>p:first-child ,.about-img-article>p:nth-child(2), .about-img-article>p:nth-child(3){
        color: #fff;
    }
}
@media(max-width:768px){
    .about-img-article{
        left: 45%;
    }
}
@media(max-width:650px){
    .about-img-article>p:nth-child(2){
        font-size: 30px;
    }
    .career-title, .skills-title{
        font-size: 30px;
    }
    .career-article p{
        font-size: 16px;
    }
    .career-article-line>p:last-child{
        font-size: 14px;
    }
    .skill-bottom li{
        font-size: 16px;
    }
}
@media(max-width:500px){
    .about-img-article{
        left: 10%;
        transform: translate(0,0);
    }
    .career-article-line>p:first-child{
        width: auto;
    }
    .skill-bottom{
        padding-left: 7%;
    }
    
}
@media(max-width:450px){

}
@media(max-width:340px){
    .skill-bottom{
        flex-direction: column;
    }
    .skill-bottom>ul{
        width: auto;
        padding-top: 20px;
    }
    .skill-bottom>ul>li:first-child{
        padding-bottom: 8px;
    }

}
