@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* font-family: 'Nanum Gothic', sans-serif; */
/* font-family: 'Nanum Myeongjo', serif; */
body{
    font-family: 'Nanum Gothic', sans-serif !important;
}

body{
  width: 100%;
  height: auto;
  overflow: hidden;
  position: fixed;
}

/* .main{
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: auto;
} */

.main_top{
  width: 100%;
  height: 15%;
}

.main_top_text{
  padding: 3% 5%;
  font-size: 16px;
}
/* ====maing left start==== */

.main_left{
  height: 85%;
  float: left;
  position: relative;
  width: 42%;
  overflow: hidden;
}
.main_left img{
  width: 100%;
}
.main_left_arrow{
  display: none;
}

/* ===main left end=== */

/* ===main right start=== */

.main_right{
  float: right;
  width: 58%;
  position: relative;
}
.main_right_arrow i{
  font-size: 45px;
  color: #888;
  padding-left: 5%;
}
.container {
    height: 85%;
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding-top: 20%;
  }
  .container p {
    font-size: 3rem;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    overflow: hidden;
    color: #181818;
    line-height: 150%;
    text-align: left;
    margin-left: 5%;
  }
  .container p span.typed-text {
    font-weight: normal;
    color: #181818;
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
    font-weight: bold;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
.main_right_circle{
  width: 260px;
  height: 260px;
  background:  #ffdeb1;
  border-radius: 100%;
  position: absolute;
  top: 80%;
  left: 54%;
  transform: translate(-50%,-50%);
  animation: maincircle 3s infinite;
  z-index: -1;
}
.main_right_righttext{
  position: absolute;
  font-size: 16px;
  transform: rotate(90deg);
  top: 110%;
  right: 0;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.main_right_righttext span{
  width: 130px;
  border: 1px solid black;
  display: block;
  height: 1px;
}

@keyframes maincircle{
  0%{
    top: 70%;
  }
  50%{
    top: 80%;
  }
  100%{
    top: 70%;
  }
}
  /* ===main-right end=== */

@media(max-width:769px){

  .container p {
    font-size: 36px;
    }
    .main{
      padding-left: 10%;
      padding-top: 5%;
      width: 80%;
    }
    .main_top_text{
      padding: 0 0 5% 0;
    }
    .main_left_arrow{
      display: block;
      font-size: 40px;
      color: #888;
      padding-bottom: 5%;
      float: right;
      padding-right: 5%;
      padding-top: 10%;
    }
    .main_left{
      clear: both;
      width: 100%;
    }

    .main_right{
      width: 100%;
      clear: both;
      float: left;
    }
    .main_left{
      height: 400px;
    }
    .main_right_circle{
      width: 140px;
      height: 140px;
      left: 80%;
    }
    .main_right_righttext{
      display: none;
    }
    .container{
      padding-top: 5%;
    }
}

  @media(max-width:540px){
    .container{
      width: 100%;
    }
    .container p{
      font-size: 24px;
    }
  }


